@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    filter: none;
    user-select: none;
    
}

/*?Color de fondo*/
body{
    background-color: #efefef;
    
}

/*?Color de la sección del video*/
.video-header{
    background-color: #32BBE2;
    width: 100%;

}

/*?Tamaño principal del video*/
.video-header video{
    max-width: 600px;
}

/*?Posicion de la barra de navegacion*/
.menu{
    z-index: 10;
    top: -.001rem;
    position: sticky;
}

/*?Color y estilo de de la barra (letra)*/
.nav-menu ul li a{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.logo-header img{
    width: 35px;
}

/*?Estilo de la barra*/
.menu{
    background: #202021;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    box-shadow: 0px 4px 3px rgba(0, 0, 0,.5);
}

/*?Configuracion de la barra, centra los elementos*/
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 1.5rem;
}

/*?Estilo de los botones*/
.nav-menu a:hover{
    color: #32BBE2;
    transition: all .5s;
}

/*?Estilo de la seccion de contacto*/
.nav-menu li #me{
    background-color: #32BBE2;
    border: 2px solid #32BBE2;
    padding: .25 rem .75rem;
    border-radius: .2rem;
    transition: all .25s;
}
li #me:hover{
    background: transparent;
    border: 2px solid #32BBE2
}

/*?Tamaño del icono de menú*/
.menu-icon img{
    width: 25px;
    height: 25px;
}
.menu-icon, #check{
    display: none;
    position: absolute;
    right: 1rem;
    top: .5rem;

}

@media (max-width:768px) {

    body{
        margin-top: 3rem;
    }
    .menu{
        margin-top: -25.2rem;
    }
    .content{
        margin-top: 23.4rem;
    }
    .checkbtn{
        display: block;
    }

    .menu-icon{
        display: flex;
        cursor: pointer;
    }

    .video-header video{
        max-width: 560px;
    }

    .nav-menu ul{
        display: block;
        position: fixed;
        top: 49px;
        left: -100%;
        background: #202021;
        width: 100%;
        height: 100%;
        right: 0;
    }

    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-menu ul li #me{
        background: none;
        padding: 1rem;
        border: 0;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
        white-space:unset;
        overflow-y: hidden;
    }
    .menu-icon{
        top: 1rem;
    }
}

@media (max-width:500px) {
    .video-header video{
        max-width: 300px;
    }
}

@media (max-width:350px) {
    .video-header video{
        max-width: 200px;
    }
}